<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alla inlägg</title>
    <link th:rel="stylesheet" th:href="style.css">
</head>
<body>
    <header>
        <h1>Alla inlägg</h1>
        <ul>
                <a th:href="@{/}">Hem</a> <span>-</span>
                <a th:href="@{/all-posts}">Alla inlägg</a> <span>-</span>
                <a th:href="@{/new-post}">Skapa nytt inlägg</a>
        </ul>
    </header>

    <main>
        <h2>Detta är sidan för alla dina dagboksinlägg</h2>
        
        <!-- Visar varje dagboksinlägg som en separat box -->
        <div th:each="post : ${allPosts}" class="diary-entry-box">

            <!-- Delete knapp -->
            <a th:href="@{delete(id=${post.id})}" class="delete-button">[X]</a>
            <a th:href="@{/update-post(id=${post.id})}" class="edit-button">[Edit]</a>

            <!-- Datum för inlägget -->
            <div class="entry-date">
                <span th:text="${post.date}"></span>
            </div>
            <!-- Rubrik för inlägget -->
            <div class="entry-header">
                <span th:text="${post.title}"></span>
            </div>
            <!-- Innehållet i dagboksinlägget -->
            <div class="entry-content">
                <span th:text="${post.content}"></span>
            </div>

            <!-- Fotnot, kan vara för signatur eller annan info -->
            <div class="entry-footer">
                <span>Dagbok Inlägg</span>
            </div>
        </div>
    </main>
</body>
</html>