<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link th:rel="stylesheet" th:href="style.css">
</head>
<body>

    <header>
        <h1>Din Dagbok</h1>
        <ul>
            <li><a th:href="@{/}">Hem</a></li>
            <span>-</span>
            <li><a th:href="@{/all-posts}">Alla inlägg</a></li>
            <span>-</span>
            <li><a th:href="@{/new-post}">Skapa nytt inlägg</a></li>
          </ul>
    </header>

    <main>
        <h2>Välkommen till din Dagbok!</h2>
    </main>
</body>
</html>