<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Skapa nytt inlägg</h1>
        <ul>
                <a th:href="@{/}">Hem</a> <span>-</span>
                <a th:href="@{/all-posts}">Alla inlägg</a> <span>-</span>
                <a th:href="@{/new-post}">Skapa nytt inlägg</a>
        </ul>
    </header>

    <main>
        <h2>Skapa ditt inlägg</h2>
        <form>

            <div>
                <label>Date</label>
                <label>Title</label>
                <br>
                <input type="date">
                <input type="text" placeholder="Title">
            </div>

            <div>
                <textarea name="" id="" cols="37" rows="10" placeholder="Your text"></textarea>
            </div>
            <button type="submit">Skapa</button>

        </form>

    </main>
</body>
</html>